*.swp
*.o
*.a
*.gch
*.out
*_store
*.dsym
*.sh
CMakeLists.txt.user
CMakeCache*
CMakeFiles/*
Makefile
cmake_install.cmake
**/CMakeCache*
**/CMakeFiles/*
**/Makefile
**/cmake_install.cmake
build/*
mpiBuild/*
mpi2/*
debug/*
data/*
doc/doxygenOutput
*/.ipynb_checkpoints/*
documentation/user-guide/_build/*
